:root{
  /* Primary Color */
  --dark-blue: 240, 38%, 20%;
  --grayish-blue: 240, 18%, 77%;
  /* Font */
  --ff: "Inter", sans-serif;
  --fs: 32px;
  --fw-small: 300;
  --fw-bold: 500;
  --fw-bolder: 700;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  background-image: url("./assets/images/pattern-bg.svg"), url("./assets/images/pattern-curve.svg"), url("./assets/images/pattern-quotes.svg");
  background-position: 50% 5vh, 20% 90vh, 50% 55vh;
  background-repeat: no-repeat;
  background-size: 330px, 300px, 50px ;
  display: grid;
  justify-items: center;
  height: 100vh;
  padding: 3.75rem 0 2rem;
}

.App{
  font-family: var(--ff);
  display: grid;
  gap: 2rem;
  width: min(100% - 2.5rem, 60rem);
}

.img-container{
  border-radius: 1rem;
  height: 40vh;
  margin-inline: auto;
  position: relative;
  width: fit-content;
}

.img-container .prev,
.img-container .next{
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: .75rem;
  content: "";
  display: block;
  position: absolute;
  height: 1.75rem;
  padding: 1.25rem .65rem;
  top: 90%;
  width: 2.7rem;
}
.img-container .prev:hover,
.img-container .next:hover {
  cursor: pointer;
}
.img-container .prev{
  background-image: url("./assets/images/icon-prev.svg");
  border-radius: 3.5rem 0 0 3rem;
  left: 33.15%;

}
.img-container .next{
  background-image: url("./assets/images/icon-next.svg");
  border-radius: 0 3rem 3rem 0;
  right: 33.15%;
}


.img-container img{
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.container > p{
  color: hsl(var(--dark-blue));
  font-size: 1.25rem;
  font-weight: var(--fw-small);
  margin: 0 0 1.2rem;
  text-align: center;
}

h2{
  color: hsl(var(--dark-blue));
  font-size: 1rem;
  font-weight: var(--fw-bolder);
  text-align: center;
}
.flex p{
  color: hsl(var(--grayish-blue));
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-align: center;
}

@media (min-width: 48em) {
  #root{
    align-items: center;
    background-position: 95% 27vh, 20% 90vh, 15% 38vh;
    background-size: 520px, 800px, 50px;
    padding: 0;
  }
  .App{
    align-items: center;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    height: 27rem;
  }
  .img-container{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 27rem;
    inset: 0;
    left: -7rem;
    position: absolute;
    width: 28rem;
    z-index: 1;
  }
  .container{
    z-index: 3;
  }
  .container > p,
  h2,
  .flex p{
    text-align: left;
  }
  .flex{
    display: flex;
    gap: 1rem;
  }
  .container > p{
    font-size: 1.45rem;
  }
  .img-container .prev{
    left: 11%;
    top: 95%;
  }
  .img-container .next{
    right: 70%;
    top: 95%;
  }
}


@media (min-width: 80em) {
  #root{
    align-items: center;
    background-position: 75% 12vh, 20% 90vh, 23% 30vh;
    background-size: 550px, 800px, 85px;
    padding: 0;
  }
  .App{
    align-items: center;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    height: 27rem;
  }
  .img-container{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 27rem;
    inset: 0;
    left: -7rem;
    position: absolute;
    width: 28rem;
    z-index: 1;
  }
  .container{
    z-index: 3;
  }
  .container > p,
  h2,
  .flex p{
    text-align: left;
  }
  .flex{
    display: flex;
    gap: 1rem;
  }
  .container > p{
    font-size: 1.5rem;
  }
  .img-container .prev{
    left: 11%;
    top: 95%;
  }
  .img-container .next{
    right: 70%;
    top: 95%;
  }
}